*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: #555;
}

.imagen{
    border: 2px;
    border-color: red;
    border-style: inset;
}